{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in transactions %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ quotes[stock.symbol]["name"] }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ quotes[stock.symbol]["price"] }}</td>
                    <td>{{ stock.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}